@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


::-webkit-scrollbar {
  display: none;
}
.Navbar-item:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;

}

body{
  overflow: hidden;

}

.App {
  box-sizing: border-box;
  display: flex;
  background-color: black;
  scroll-behavior: smooth;
  scroll-snap-type: initial;
  scroll-snap-stop: initial;
  /* border: 2px solid white; */
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 53px;
  font-style: normal;


}


.contentSection{
  flex: 1;
  overflow-y: scroll;
  height:100vh;
  /* padding:50px; */
  /* padding-top:100px; */

}




.page {
  flex:1;
  color: white;
  min-height:100vh;
  padding: 140px;
  margin-left: 50px;
  padding-bottom: 0;
  /* border:2px solid white; */
}




